@model LoginViewModel
@inject IStringLocalizer<LoginController> L
@{
	Layout=null;
}
<!DOCTYPE html>
<!--
Author: Keenthemes
Product Name: Metronic - Bootstrap 5 HTML, VueJS, React, Angular & Laravel Admin Dashboard Theme
Purchase: https://1.envato.market/EA4JP
Website: http://www.keenthemes.com
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
License: For each use you must have a valid license purchased only from above link in order to legally use the theme for your project.
Developer: Necip BARAN | Narkotik Suçlarla Mücadele Daire Başkanlığı Tubim Şube Müdürlüğü | nbaran@egm.gov.tr 0 553 627 82 53 for any further questions
-->
<html lang="tr">
	<!--begin::Head-->
	<head><base href="../../../">
		<title>@L["title"]</title>
		<meta charset="utf-8" />
		<meta name="description" content="Narkotik Suçlarla Mücadele Daire Başkanlığı Veri Toplama Projesi." />
		<meta name="keywords" content="narkotik,tubim,yazılım" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta property="og:locale" content="en_US" />
		<meta property="og:type" content="article" />
		<meta property="og:title" content="Narkotik Suçlarla Mücadele Daire Başkanlığı Veri Toplama Projesi" />
		<meta property="og:url" content="https://10.203.7.45" />
		<meta property="og:site_name" content="TPDS | Narkotik" />
		<link rel="canonical" href="https://preview.keenthemes.com/metronic8" />
		<link rel="shortcut icon" href="assets/media/logos/favicon.ico" />
		<!--begin::Fonts-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
		<!--end::Fonts-->
		<!--begin::Global Stylesheets Bundle(used by all pages)-->
		<link href="assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
		<!--end::Global Stylesheets Bundle-->
				 <link href="assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css"/>
<script src="assets/plugins/global/plugins.bundle.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>	 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js" integrity="sha512-DedNBWPF0hLGUPNbCYfj8qjlEnNE92Fqn7xd3Sscfu7ipy7Zu33unHdugqRD3c4Vj7/yLv+slqZhMls/4Oc7Zg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	 <script src="assets/js/scripts.bundle.js"></script>
		
	</head>
	<!--end::Head-->
	<!--begin::Body-->
	<body id="kt_body" class="bg-body">


 
		<!--begin::Main-->
		<!--begin::Root-->
		<div class="d-flex flex-column flex-root">
			<!--begin::Authentication - Sign-in ss -->
			<div class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed" style="background-image: url(assets/media/illustrations/sketchy-1/14.png">
				<!--begin::Content-->
				<div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20" id="divLoginForm">
					<!--begin::Logo-->
					<a href="~/" class="mb-12">
						<img alt="Logo" src="assets/media/logos/tubim_login_screen_logo.png" class="h-60px" />
					</a>
					<!--end::Logo-->
					<!--begin::Wrapper-->
					<div class="w-lg-500px bg-body rounded shadow-sm p-10 p-lg-15 mx-auto">
						<!--begin::Form-->
						<form
							autocomplete="off" 
							data-ajax-method="post"
							 data-ajax-complete="validate"
							data-ajax="true"
							asp-action="Index"
							asp-controller="Login" 
							asp-antiforgery="true"
							asp-route-returnurl="@Model.ReturnUrl"
							class="form w-100" 
							id="loginForm"  >
							 
							<!--begin::Heading-->
							<div class="text-center mb-10">
								<!--begin::Title-->
								<h1 id="hWelcome" class="text-dark mb-3"> @L["page.title"]</h1>
								<!--end::Title-->
								 
							</div>
							<!--begin::Heading-->
							<!--begin::Input group-->
							<div class="fv-row mb-10">
								<!--begin::Label-->
								<label class="form-label fs-6 fw-bolder text-dark">@L["page.username"]</label>
								<!--end::Label-->
								<!--begin::Input-->
								<input asp-for="Username" class="form-control form-control-lg form-control-solid" type="text"   autocomplete="off" />
						 
								<!--end::Input-->
							</div>
							<!--end::Input group-->
							<!--begin::Input group-->
							<div class="fv-row mb-10">
								<!--begin::Wrapper-->
								<div class="d-flex flex-stack mb-2">
									<!--begin::Label-->
									<label class="form-label fw-bolder text-dark fs-6 mb-0">@L["page.password"]</label>
									<!--end::Label-->
								 
								</div>
								<!--end::Wrapper-->
								<!--begin::Input-->
								<input asp-for="Password" class="form-control form-control-lg form-control-solid" type="password"  autocomplete="off" />
								<!--end::Input-->
							</div>
							<!--end::Input group-->
							<!--begin::Actions-->
							<div class="text-center">
								<!--begin::Submit button-->
								<button type="submit"  class="btn btn-lg btn-primary w-100 mb-5">
									<span class="indicator-label">@L["page.enter"]</span> 
								</button>
								<!--end::Submit button-->
							 
							</div>
						 
 
						<div class="text-center text-muted text-uppercase fw-bold mb-5">@L["page.picklanguage"]</div>
							 
							<a  onclick="location.href='@Url.Action("changelanguage","login",new { culture="tr-TR",returnUrl=Context.Request.Path})'" class="btn btn-flex flex-center btn-light btn-lg w-100 mb-5">
								<img alt="Logo" src="assets/media/flags/turkey.svg" class="h-20px me-3">@L["page.languageTR"]</a>
						<a  onclick="location.href='@Url.Action("changelanguage","login",new { culture="en-US",returnUrl=Context.Request.Path})'" class="btn btn-flex flex-center btn-light btn-lg w-100 mb-5">
								<img alt="Logo" src="assets/media/flags/united-states.svg" class="h-20px me-3">@L["page.languageEn"]</a>

								
												 
						</form>
						<!--end::Form-->
					</div>
					<!--end::Wrapper-->
				</div>
				<!--end::Content-->
				<!--begin::Footer-->
				<div class="d-flex flex-center flex-column-auto p-10">
					<!--begin::Links-->
					<div class="d-flex align-items-center fw-bold fs-6">
						<b class="text-muted text-hover-primary px-2">Narkotik Suçlarla Mücadele Daire Başkanlığı &copy;  @DateTime.Today.Year</b>
						 
					</div>
					<!--end::Links-->
				</div>
				<!--end::Footer-->
			</div>
			<!--end::Authentication - Sign-in-->
		</div>
		<!--end::Root-->
		<!--end::Main-->
		<!--begin::Javascript-->
		<script>var hostUrl = "assets/";</script>
		<!--begin::Global Javascript Bundle(used by all pages)-->
	 <script src="~/js/global.js"></script>
		<!--end::Global Javascript Bundle-->

		<!--end::Javascript-->
 
 

 
	</body>
 
	<!--end::Body-->
	<script>
validate = (e) => {
    ErrorMessage(e);
}
	</script>
</html>