@inject IStringLocalizer<HomeController> L;
@{
    ViewData["Title"] = L["page.title"];





}

<div class="row g-5 g-xl-10">
    <!--begin::Col-->
    <div class="col-xl-4 mb-xl-10 al-inst-widget">
        <!--begin::Tum Kurumlar Widget-->
        @* @await Component.InvokeAsync("TumKurumlarSayilarWidget")*@
        <!--end::Tum Kurumlar Widget-->
    </div>
    <!--end::Col-->
    <!--begin::Col-->
    <div class="col-xl-8 mb-5 mb-xl-10">
        <div id="kt_sliders_widget_1_slider" class="card card-flush carousel carousel-custom carousel-stretch slide h-xl-100" data-bs-ride="carousel" data-bs-interval="5000">
            <!--begin::Header-->
            <div class="card-header pt-5">
                
                <!--begin::Toolbar-->
                <div class="card-toolbar">
                    <!--begin::Carousel Indicators-->
                    <ol class="p-0 m-0 carousel-indicators carousel-indicators-bullet carousel-indicators-active-primary">
                        <li data-bs-target="#kt_sliders_widget_1_slider" data-bs-slide-to="0" class="active ms-1"></li>
                        <li data-bs-target="#kt_sliders_widget_1_slider" data-bs-slide-to="1" class="ms-1"></li>
                     
                    </ol>
                    <!--end::Carousel Indicators-->
                </div>
                <!--end::Toolbar-->
            </div>
            <!--end::Header-->
            <!--begin::Body-->
            <div class="card-body">
                <!--begin::Carousel-->
                <div class="carousel-inner mt-n5">
                    <!--begin::Item-->
                    <div class="carousel-item active show">
                        <!--begin::Wrapper-->
                        <!--begin::Info-->
                        <div class="m-0">
                            <h4 class="fw-bolder text-gray-800 mb-3">Olay Sayısı Dağılımı</h4>
                            @await Component.InvokeAsync("DashboardOlay",new {t1=DateTime.Now,t2=DateTime.Now})
                        </div>
                        <!--end::Info-->
                        <!--end::Wrapper-->

                    </div>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <div class="carousel-item">
                        <!--begin::Wrapper-->
                        <!--begin::Info-->
                        <div class="m-0">
                            <!--begin::Subtitle-->
                            <h4 class="fw-bolder text-gray-800 mb-3">Şüpheli Sayısı Dağılımı</h4>
                            <!--end::Subtitle-->
                            <!--begin::Items-->
                            @await Component.InvokeAsync("DashboardSupheli")
                            <!--end::Items-->
                        </div>
                        <!--end::Info-->
                        <!--end::Wrapper-->
                        <!--begin::Action-->
                        <div class="mb-1">
                            <a href="#" class="btn btn-sm btn-light me-2">Skip This</a>
                            <a href="#" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_create_app">Continue</a>
                        </div>
                        <!--end::Action-->
                    </div>
                    <!--end::Item-->
                  
                </div>
                <!--end::Carousel-->
            </div>
            <!--end::Body-->
        </div>


    </div>
    <!--end::Col-->
</div>
<div class="row g-5 g-xl-10">



    <div class="col-xl-8 mb-5 mb-xl-10">
        <!--begin::Chart widget 32-->
        <div class="card card-flush h-xl-100">
            <!--begin::Header-->
            <div class="card-header pt-7 mb-3">
                <!--begin::Title-->
                <h3 class="card-title align-items-start flex-column">
                    <span class="card-label fw-bolder text-gray-800">Grafikler</span>
                    <span class="text-gray-400 mt-1 fw-bold fs-6">Veriler kullanılarak oluşturulan grafikler esn son @DateTime.Now zamanında güncellenmiştir.</span>
                </h3>
                <!--end::Title-->

            </div>
            <!--end::Header-->
            <!--begin::Body-->
            <div class="card-body d-flex flex-column justify-content-between pb-5 px-0">
                <!--begin::Nav-->
                <ul class="nav nav-pills nav-pills-custom mb-3 mx-9">
                    <!--begin::Item-->
                    <li class="nav-item mb-3 me-3 me-lg-6">
                        <!--begin::Link-->
                        <a class="nav-link btn btn-outline btn-flex btn-color-muted btn-active-color-primary flex-column overflow-hidden w-80px h-85px pt-5 pb-2 active" data-bs-toggle="pill" id="kt_charts_widget_32_tab_1" href="#kt_charts_widget_32_tab_content_1">
                            <!--begin::Icon-->
                            <div class="nav-icon mb-3">
                                <i class="fonticon-truck fs-1 p-0"></i>
                            </div>
                            <!--end::Icon-->
                            <!--begin::Title-->
                            <span class="nav-text text-gray-800 fw-bolder fs-6 lh-1">Olay</span>
                            <!--end::Title-->
                            <!--begin::Bullet-->
                            <span class="bullet-custom position-absolute bottom-0 w-100 h-4px bg-primary"></span>
                            <!--end::Bullet-->
                        </a>
                        <!--end::Link-->
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="nav-item mb-3 me-3 me-lg-6">
                        <!--begin::Link-->
                        <a class="nav-link btn btn-outline btn-flex btn-color-muted btn-active-color-primary flex-column overflow-hidden w-80px h-85px pt-5 pb-2" data-bs-toggle="pill" id="kt_charts_widget_32_tab_2" href="#kt_charts_widget_32_tab_content_2">
                            <!--begin::Icon-->
                            <div class="nav-icon mb-3">
                                <i class="fonticon-bicycle fs-1 p-0"></i>
                            </div>
                            <!--end::Icon-->
                            <!--begin::Title-->
                            <span class="nav-text text-gray-800 fw-bolder fs-6 lh-1">Şüpheli</span>
                            <!--end::Title-->
                            <!--begin::Bullet-->
                            <span class="bullet-custom position-absolute bottom-0 w-100 h-4px bg-primary"></span>
                            <!--end::Bullet-->
                        </a>
                        <!--end::Link-->
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="nav-item mb-3 me-3 me-lg-6">
                        <!--begin::Link-->
                        <a class="nav-link btn btn-outline btn-flex btn-color-muted btn-active-color-primary flex-column overflow-hidden w-80px h-85px pt-5 pb-2" data-bs-toggle="pill" id="kt_charts_widget_32_tab_3" href="#kt_charts_widget_32_tab_content_3">
                            <!--begin::Icon-->
                            <div class="nav-icon mb-3">
                                <i class="fonticon-drone fs-1 p-0"></i>
                            </div>
                            <!--end::Icon-->
                            <!--begin::Title-->
                            <span class="nav-text text-gray-800 fw-bolder fs-6 lh-1">Eşya</span>
                            <!--end::Title-->
                            <!--begin::Bullet-->
                            <span class="bullet-custom position-absolute bottom-0 w-100 h-4px bg-primary"></span>
                            <!--end::Bullet-->
                        </a>
                        <!--end::Link-->
                    </li>
                    <!--end::Item-->
                </ul>
                <!--end::Nav-->
                <!--begin::Tab Content-->
                <div class="tab-content ps-4 pe-6">
                    <!--begin::Tap pane-->
                    <div class="tab-pane fade active show" id="kt_charts_widget_32_tab_content_1">
                        <!--begin::Chart-->
                        <div id="kt_charts_widget_32_chart_1" class="min-h-auto" style="height: 475px">
                            @await Component.InvokeAsync("OlayChartDashboard")
                        </div>
                        <!--end::Chart-->
                    </div>
                    <!--end::Tap pane-->
                    <!--begin::Tap pane-->
                    <div class="tab-pane fade" id="kt_charts_widget_32_tab_content_2">
                        <!--begin::Chart-->
                        <div id="kt_charts_widget_32_chart_2" class="min-h-auto" style="height: 475px">
                            @await Component.InvokeAsync("SupheliChartDashboard")
                        </div>
                        <!--end::Chart-->
                    </div>
                    <!--end::Tap pane-->
                    <!--begin::Tap pane-->
                    <div class="tab-pane fade" id="kt_charts_widget_32_tab_content_3">
                        <!--begin::Chart-->
                        <div id="kt_charts_widget_32_chart_3" class="min-h-auto" style="height: 475px">
                            @await Component.InvokeAsync("MaddeChartDashboard")
                        </div>
                        <!--end::Chart-->
                    </div>
                    <!--end::Tap pane-->
                </div>
                <!--end::Tab Content-->
            </div>
            <!--end: Card Body-->
        </div>
        <!--end::Chart widget 32-->
    </div>

    <div class="col-xl-4 mb-xl-10">

        <div class="mb-md-5 mb-xl-10">

          
            <div class="row g-5 g-xl-10 mb-5 mb-xl-10">
                <div class="col-xxl-12 bl-widget">
                </div>
            </div>
               @await Component.InvokeAsync("RequestDetailedReportWidget")
        </div>
    </div>
</div>




 



 

<div class="engage-toolbar d-flex position-fixed px-5 fw-bolder zindex-2 top-50 end-0 transform-90 mt-20 gap-2">


    <button id="btnTarihFiltre" class="engage-help-toggle btn btn-flex h-35px bg-body btn-color-gray-700 btn-active-color-gray-900 shadow-sm px-5 rounded-top-0" title="Verileri Filtrelemek İçin Buraya Tıklayın" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-dismiss="click" data-bs-trigger="hover">Tarih Filtresini Aç</button>
</div>

<!--begin::Help drawer-->
<div id="kt_help" class="bg-body" data-kt-drawer="true" data-kt-drawer-name="help" data-kt-drawer-activate="true" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'350px', 'md': '525px'}" data-kt-drawer-direction="end" data-kt-drawer-toggle="#btnTarihFiltre" data-kt-drawer-close="#kt_help_close">
    <!--begin::Card-->
    <div class="card shadow-none rounded-0 w-100">
        <!--begin::Header-->
        <div class="card-header" id="kt_help_header">
            <h5 class="card-title fw-bold text-gray-600">@L["page.filter.title"]</h5>
            <div class="card-toolbar">
                <button type="button" class="btn btn-sm btn-icon explore-btn-dismiss me-n5" id="kt_help_close">
                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                    <span class="svg-icon svg-icon-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
                        </svg>
                    </span>
                    <!--end::Svg Icon-->
                </button>
            </div>
        </div>
        <!--end::Header-->
        <!--begin::Body-->
        <div class="card-body" id="kt_help_body">
            <!--begin::Content-->
            <div id="kt_help_scroll" class="hover-scroll-overlay-y" data-kt-scroll="true" data-kt-scroll-height="auto" data-kt-scroll-wrappers="#kt_help_body" data-kt-scroll-dependencies="#kt_help_header" data-kt-scroll-offset="5px">
                <div class="card card-flush shadow-sm">
                    <div class="card-header">
                        <h3 class="card-title">
                            <!--begin::Svg Icon | path: assets/media/icons/duotune/general/gen004.svg-->
                            <span class="svg-icon svg-icon-muted svg-icon-2hx">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M21.7 18.9L18.6 15.8C17.9 16.9 16.9 17.9 15.8 18.6L18.9 21.7C19.3 22.1 19.9 22.1 20.3 21.7L21.7 20.3C22.1 19.9 22.1 19.3 21.7 18.9Z" fill="currentColor" />
                                    <path opacity="0.3" d="M11 20C6 20 2 16 2 11C2 6 6 2 11 2C16 2 20 6 20 11C20 16 16 20 11 20ZM11 4C7.1 4 4 7.1 4 11C4 14.9 7.1 18 11 18C14.9 18 18 14.9 18 11C18 7.1 14.9 4 11 4ZM8 11C8 9.3 9.3 8 11 8C11.6 8 12 7.6 12 7C12 6.4 11.6 6 11 6C8.2 6 6 8.2 6 11C6 11.6 6.4 12 7 12C7.6 12 8 11.6 8 11Z" fill="currentColor" />
                                </svg>
                            </span>
                            <!--end::Svg Icon-->
                        </h3>
                    </div>
                    <div class="card-body py-5">
                        @(Html.Kendo().DateRangePicker()
                        .Name("daterangepicker")
                        .Events(r=>r.Change("dateRangeChanged"))
                        .Format("dd.MM.yyyy")
                        .Messages(r=>r.StartLabel(L["page.filter.startdate"]).EndLabel(L["page.filter.enddate"]))
                        .Range(r=>r.Start(DateTime.Today.AddDays(-DateTime.DaysInMonth(DateTime.Today.Year,DateTime.Today.Month))).End(DateTime.Today))
                        .HtmlAttributes(new { style = "width: 100%", title = "daterangepicker" })
                        )


                        <div class="separator separator-content border-danger my-15">
                            <i class="fas fa-bomb text-danger fs-2"></i>
                        </div>

                        	<div class="mb-0">
								<h3 class="fw-bolder text-center mb-6">Gösterilecek Veri Kaynağı Seçiniz</h3>
								<!--begin::Row-->
								<div class="row g-5">
									<!--begin::Col-->
									<div class="col-6">
										<!--begin::Demo-->
										<div class="overlay overflow-hidden position-relative rounded">
											<div class="overlay-wrapper">
                                                <div class="symbol symbol-45px me-5">
												<img src="~/assets/media/logos/egm_logo_sm.png" alt="demo" class="w-100 h-112" />
                                                </div>
											</div>
											<div class="overlay-layer bg-dark bg-opacity-10">
												<a href="https://preview.keenthemes.com/metronic8/demo1" class="btn btn-sm btn-success shadow">EGM</a>
											</div>
										</div>
										<!--end::Demo-->
									</div>
									<!--end::Col-->
								 	<!--begin::Col-->
									<div class="col-6">
										<!--begin::Demo-->
										<div class="overlay overflow-hidden position-relative  rounded">
											<div class="overlay-wrapper">
                                                 <div class="symbol symbol-45px me-5">
													<img src="~/assets/media/logos/jgk_logo_sm.png"  alt="demo" class="w-100 h-112" />
                                                </div>
											
											</div>
											<div class="overlay-layer bg-dark bg-opacity-10">
												<a href="https://preview.keenthemes.com/metronic8/demo1" class="btn btn-sm btn-success shadow">Jandarma</a>
											</div>
										</div>
										<!--end::Demo-->
									</div>
									<!--end::Col-->
                                    	<!--begin::Col-->
									<div class="col-6">
										<!--begin::Demo-->
										<div class="overlay overflow-hidden position-relative  rounded">
											<div class="overlay-wrapper">
                                                 <div class="symbol symbol-45px me-5">
													<img src="~/assets/media/logos/saglik_logo_sm.png"  alt="demo" class="w-100 h-112" />
                                                </div>
											
											</div>
											<div class="overlay-layer bg-dark bg-opacity-10">
												<a href="https://preview.keenthemes.com/metronic8/demo1" class="btn btn-sm btn-success shadow">Sağlık B.</a>
											</div>
										</div>
										<!--end::Demo-->
									</div>
									<!--end::Col-->
                                    <!--begin::Col-->
									<div class="col-6">
										<!--begin::Demo-->
										<div class="overlay overflow-hidden position-relative  rounded">
											<div class="overlay-wrapper">
                                                 <div class="symbol symbol-45px me-5">
													<img src="~/assets/media/logos/sg_logo_sm.png"  alt="demo" class="w-100 h-112" />
                                                </div>
											
											</div>
											<div class="overlay-layer bg-dark bg-opacity-10">
												<a href="https://preview.keenthemes.com/metronic8/demo1" class="btn btn-sm btn-success shadow">Sahil G.</a>
											</div>
										</div>
										<!--end::Demo-->
									</div>
									<!--end::Col-->
								</div>
								<!--end::Row-->
							</div>
                    </div>
                    <div class="card-footer">
                        &copy;   @DateTime.Today.Year
                    </div>
                </div>






            </div>
            <!--end::Content-->
        </div>
        <!--end::Body-->
    </div>
    <!--end::Card-->
</div>
<!--end::Help drawer-->
@section Scripts {
    <script>
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/tubimHub")
            .configureLogging(signalR.LogLevel.Information)
            .build();

        async function start() {
            try {
                await connection.start();
                console.log("SignalR Connected.");
            } catch (err) {
                console.log(err);
                setTimeout(start, 5000);
            }
        };
        connection.on("UpdateDashboard", message => {
            $.get("@Url.Action("OlayMaddeInstutionsWidget","Home")", function(r) {
                $(".al-inst-widget").html(r);
            });

            $.get("@Url.Action("BlueWidget","Home")", function(r) {
                $(".bl-widget").html(r);
            });

        });

        connection.onclose(async () => {
            await start();
        });

        // Start the connection.
        start();
        $(document).ready(function() {
            $(".configurator").bind("change", refresh);
            $(".configurator").bind("change", refresh2);
        });

        function refresh() {

            var chart = $("#chartOlaylar").data("kendoChart"),
                series = chart.options.series,
                categoryAxis = chart.options.categoryAxis,
                baseUnitInputs = $("input:radio[name=baseUnit]"),
                aggregateInputs = $("input:radio[name=aggregate]");

            for (var i = 0, length = series.length; i < length; i++) {
                series[i].aggregate = aggregateInputs.filter(":checked").val();
            }

            categoryAxis.baseUnit = baseUnitInputs.filter(":checked").val();
            chart.refresh();
        }
        function refresh2() {

            var chart = $("#chartMaddeler").data("kendoChart"),
                series = chart.options.series,
                categoryAxis = chart.options.categoryAxis,
                baseUnitInputs = $("input:radio[name=baseUnit]"),
                aggregateInputs = $("input:radio[name=aggregate]");

            for (var i = 0, length = series.length; i < length; i++) {
                series[i].aggregate = aggregateInputs.filter(":checked").val();
            }

            categoryAxis.baseUnit = baseUnitInputs.filter(":checked").val();
            chart.refresh();
        }
    </script>
    <script>

        $(function() {
            //var picker = $("#daterangepicker").data("kendoDateRangePicker");
            //var range = picker.range();
            //if (range.start && range.end) {
            //    var url = "@Url.Action("getDashBoardAction","Home")?t1=" + kendo.toString(range.start, 'd') + "&t2=" + kendo.toString(range.end, 'd');

            //    $.get(url, (r) => {
            //        $(".Dashboards").html(r);
            //    })
            //}


            $.get("@Url.Action("OlayMaddeInstutionsWidget","Home")", function(r) {
                $(".al-inst-widget").html(r);
            });
            $.get("@Url.Action("BlueWidget","Home")", function(r) {
                $(".bl-widget").html(r);
            });
        });

        function dateRangeChanged() {
            var range = this.range();
            if (range.start && range.end) {
                var url = "@Url.Action("getDashBoardAction","Home")?t1=" + kendo.toString(range.start, 'd') + "&t2=" + kendo.toString(range.end, 'd');

                $.get(url, (r) => {
                    $(".Dashboards").html(r);
                })
            }

        }




    </script>
}